<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link href="/static/output.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon.png" />
</head>

<body class="min-h-screen flex flex-col">

    <nav class="flex flex-row items-center fixed top-0 left-0 w-full justify-between py-3 px-5 bg-[#090d16] z-[999]">
        <div class="flex flex-row gap-14 justify-center items-center">
            <h1 class="text-[1.5rem] font-semibold tracking-tight">
                Knowledgeable
            </h1>

            <ul class="flex gap-6">
                <li class="rounded-lg p-2 hover:bg-white/5 transition"><a
                        class="text-gray-400 hover:text-gray-300 transition " href="#">Home</a></li>
                <li class="rounded-lg p-2 hover:bg-white/5 transition"><a
                        class="text-gray-400 hover:text-gray-300 transition" href="/search">Search</a></li>
                <li class="rounded-lg p-2 hover:bg-white/5 transition"><a class="text-gray-400 hover:text-gray-300 transition"
                        href="#about">About</a></li>
            </ul>
        </div>

        <div class="w-64 flex gap-3">

            <a href="/login" class="h-9 w-full px-4 flex items-center justify-center gap-2 rounded-lg
               text-sm text-gray-400 hover:text-white hover:bg-white/5 transition">
                <i data-lucide="log-in" class="w-4 h-4"></i>
                Login
            </a>

            <a href="/register" class="h-9 w-full px-4 flex items-center justify-center gap-2 rounded-lg
               text-sm font-semibold bg-[#1eff8c] hover:bg-[#3dffa0] 
               text-[#0a0e17] transition">
                <i data-lucide="user-plus" class="w-4 h-4"></i>
                Sign up
            </a>

        </div>
    </nav>


    <div
        class="relative w-screen h-screen bg-[url('/static/grid-green.svg')] bg-repeat flex items-center justify-center flex-col font-sans tracking-tight">
        <div
            class="absolute inset-x-0 bottom-0 top-16 pointer-events-none bg-[radial-gradient(ellipse_80%_80%_at_50%_50%,transparent_30%,#0a0e17_100%)]">
        </div>



        <div
            class="w-fit h-fit border-[1px] border-[#242422] flex flex-col justify-center items-center gap-14 rounded-lg p-12 z-10">

            <div class="m-5 flex items-center justify-center">


                <h1 class="text-5xl">
                    Search. <a class="text-5xl text-[#1eff8c]"> Unlock knowledge.</a>
                </h1>
            </div>

            <div class=" w-80 h-10 flex flex-row items-center justify-center pb-1">
                <a href="/search" class="w-80 h-10 flex gap-2 items-center justify-center 
          text-[#1eff8c] 
          bg-[#1eff8c]/20 
          hover:bg-[#1eff8c]/50 
          transition font-semibold rounded-lg">
                    <i data-lucide="search"></i>
                    Go to Search Engine
                </a>
            </div>


        </div>


    </div>

    </div>



    </div>
    <footer id="about"
        class="w-full border-t border-[#242422] bg-[#0f0f0e] py-4 px-5 flex items-center justify-between text-sm text-gray-400">

        <p>© 2026 Knowledgeable</p>

        <div class="flex gap-4">

        </div>

    </footer>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>