<!DOCTYPE html>
<html>

<head>
  <title>Search</title>
  <link href="/static/output.css" rel="stylesheet">
  <link rel="icon" href="/static/favicon.png" />
</head>

<body class="min-h-screen flex flex-col">

  <nav class="flex flex-row items-center fixed top-0 left-0 w-full justify-between py-3 px-5 bg-[#090d16] z-[999]">
    <div class="flex flex-row gap-14 justify-center items-center">
      <h1 class="text-[1.5rem] font-semibold tracking-tight">
        Knowledgeable
      </h1>

      <ul class="flex gap-6">
        <li class="rounded-lg hover:bg-white/5 transition">
          <a href="/" id="nav-home" class="block p-2 text-gray-400 hover:text-gray-300 transition">
            Home
          </a>
        </li>

        <li class="rounded-lg hover:bg-white/5 transition">
          <a href="/search" id="nav-search" class="block p-2 text-gray-400 hover:text-gray-300 transition">
            Search
          </a>
        </li>

        <li class="rounded-lg hover:bg-white/5 transition">
          <a href="#about" id="nav-about" class="block p-2 text-gray-400 hover:text-gray-300 transition">
            About
          </a>
        </li>
      </ul>
    </div>

    <div class="w-64 flex gap-3">

      <a href="/login" class="h-9 w-full px-4 flex items-center justify-center gap-2 rounded-lg
               text-sm text-gray-400 hover:text-white hover:bg-white/5 transition" id="nav-login">
        <i data-lucide="log-in" class="w-4 h-4"></i>
        Login
      </a>

      <a href="/register" class="h-9 w-full px-4 flex items-center justify-center gap-2 rounded-lg
               text-sm font-semibold bg-[#1eff8c] hover:bg-[#3dffa0] 
               text-[#0a0e17] transition" id="nav-register">
        <i data-lucide="user-plus" class="w-4 h-4"></i>
        Sign up
      </a>

    </div>
  </nav>


  <div
    class="relative w-screen h-screen bg-[url('/static/grid-green.svg')] bg-repeat flex items-center justify-center flex-col font-sans tracking-tight">
    <div
      class="absolute inset-x-0 bottom-0 top-16 pointer-events-none bg-[radial-gradient(ellipse_80%_80%_at_50%_50%,transparent_30%,#0a0e17_100%)]">
    </div>


    <div class="mt-16 w-[80%] h-4/5   flex flex-col items-center p-4 gap-6 z-10">

      <div class="flex flex-col justify-center items-center gap-4">
        <div class="w-fit h-fit rounded-xl p-3 border border-[#1eff8c]/50 bg-[#192543]">
          <i data-lucide="search" class="text-[#1eff8c]"></i>
        </div>

        <div class="flex flex-col justify-center items-center">
          <h1 class="text-xl">What do you want to know?</h1>
          <p class="text-sm text-gray-400">Search across the knowledge base</p>
        </div>
      </div>

      <div class="w-full flex gap-4">
        <input
          class="flex-1 h-12 bg-[#0f172a] border border-gray-800 rounded px-3 text-white focus:outline-none focus:ring-2 focus:ring-gray-500"
          id="search-input" placeholder="Search..." value="{{.Query}}" />

        <button class="h-12 px-4 bg-[#1eff8c] hover:bg-[#3dffa0] text-black font-bold rounded-lg transition"
          id="search-button" onclick="makeSearchRequest()">
          Search
        </button>
      </div>

      <div class="overflow-y-auto w-full h-full">

        <div id="results" class="flex flex-col w-full divide-y divide-[#1e2533]">
          {{if .Query}}
          {{if gt .Count 0}}
          <div class="m-2">
            <p>{{.Count}} results for "{{.Query}}"</p>
          </div>
          {{else}}
          <div class="m-2">
            <p>No results for "{{.Query}}"</p>
          </div>
          {{end}}
          {{end}}

          {{range $i, $r := .Results}}

          <a href="{{$r.URL}}" rel="noopener noreferrer" class="block px-4 py-4 transition hover:bg-white/5
            " target="_blank">

            <h2 class="text-[#1eff8c] font-medium">
              {{$r.Title}}
            </h2>

            <p class="text-sm text-gray-400 line-clamp-2">
              {{$r.URL}}
            </p>

          </a>

          {{end}}

        </div>

      </div>

    </div>


  </div>


  <script src="/static/js/search.js"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>

</body>

</html>