<!DOCTYPE html>
<html>

<head>
  <title>Search</title>
</head>

<body>

  <div>
    <input id="search-input" placeholder="Search..." value="{{.Query}}" />
    <button id="search-button" onclick="makeSearchRequest()">Search</button>
  </div>

  <div id="results">
    {{range .Results}}
    <div>
      <h2>
        <a class="search-result-title" href="/page?url={{.URL}}">
          {{.Title}}
        </a>
      </h2>
      <p class="search-result-description">
        {{.Content}}
      </p>
    </div>
    {{end}}
  </div>

  <script src="/static/js/search.js"></script>

</body>

</html>